/* new fx-elements for ui */

.fx-table
  display block
  width 100%
  .el-tag
    margin 1px
    height 16px
    line-height 14px
    font-size 11px
  a
    color #323232

.fx-row-container
  display block
  width 100%

.fx-row
  display flex
  width 100%
  justify-content: space-between
  color: #000

.fx-row:hover
  background #eef1f6

.fx-sticky
  top 0
  left 0
  position sticky
  z-index 10

.fx-button
  background #d3dae5
  color #000
  cursor pointer
  outline none

.fx-button-spoiler
  position absolute
  bottom 6px
  left 7px
  .el-button
    padding 5px 10px

.fx-cell
  display block
  width 15%
  flex 1 1 auto
  box-sizing border-box
  border 1px solid #dfe6ec
  padding 1px 8px
  text-align center
  font-size 12px
  overflow hidden
  .fx-tiny
    display inline-block
    width auto
    margin 2px
  &.grey
    background #64b56d
  &.green
    background #5fe359
  &.yellow
    background #e3dc59
  &.pink
    background #a47dbd
  &.purple
    background #5300a1
    color: #fff
  &.blue
    background #0300a1
    color: #fff
  &.gold
    background #990
    color: #fff

.fx-legend
  display inline-block
  margin-top 15px
  height 7px
  width 50px

.fx-plus
  display inline-block
  width 10px
  margin 0 7px
  font-size 14px
  line-height 14px
  cursor pointer

.fx-wide .fx-cell
  padding 10px 8px

.fx-head, .fx-light-grey
  background #eef1f6

.fx-grey
  background #d3dae5
  &:hover
    background #d3dae5

.fx-a
  display block
  width 15%
  flex 1 1 auto
  box-sizing border-box
  border 1px solid #dfe6ec
  padding 1px 8px
  text-align center
  font-size 12px
  cursor pointer
  outline none
  background #fff

.fx-spoiler
  width 100%
  display none

.fx-big
  display block
  width 100%
  .fx-cell
    padding: 10px 0
    position: relative

.fx-tabs
  display block

.fx-tab
  width auto
  display inline-block
  font-size 14px
  line-height 24px
  height 26px
  color #000
  cursor pointer
  outline none
  background #fff
  transition .2s linear
  padding 0px 10px
  border 1px solid rgb(131, 145, 165)
  box-sizing border-box

.fx-tab-active
  background rgb(131, 145, 165)
  color #fff

.fx-tab-controls
  float right
  .area
    margin 5px 15px 0

.fx-form
  margin 10px 0 15px

.fx-item
  display inline-block
  padding-top 24px
  margin-right 7px
  box-sizing border-box
  position relative
  width auto
  .fx-label
    position absolute
    float left
    width auto
    top 0px
    left 0px
    font-size 14px
    line-height 14px
    height 14px
    color #48576a

.fx-btns
  position absolute
  top 0px
  left 0px
  height 200px
  width 25px
  z-index 2

.fx-xls
  float left
  content: ""
  background-image url( '../assets/excel.svg' )
  background-repeat no-repeat
  background-size 17px auto
  background-position center center
  height 25px
  width 25px

.fx-cont-xls
  position fixed
  bottom 2px
  right 2px
  height 25px
  width auto
  z-index 11
  .excel
    float left
    display block
    content: ""
    background-image url( '../assets/excel.svg' )
    background-repeat no-repeat
    background-size 17px auto!important
    background-position center center
    height 25px
    width 25px!important
    padding 0
  .fx-check
    float left
    display block
    margin 2px 5px 0 10px
    .el-checkbox__input
      margin-top 2px
    .el-checkbox__label
      font-size 12px

.fx-small-btns
  .el-button
    padding 1px 7px
    font-size 11px

.fx-small
  .el-table
    th
      background #d3dce6
      .cell
        background #d3dce6
    th, td
      padding 0
      height auto
      font-weight 100
      box-sizing border-box
      border 1px solid #dfe6ec
      .cell
        padding 0
        font-size 12px
        line-height 14px
        text-align center
        color #000
        overflow visible

  .fx-filter
    padding 5px 0px
    width 24px
    margin-left 5px

.fx-bold
  font-weight bold

.fx-block
  border 1px solid #dfe6ec
  padding 20px
  box-sizing border-box

.fx-col-3
  display inline-block
  width 33.33%

/* checkbox start */
.fx-checkbox
  display inline-block
  position relative
  cursor pointer
  height 18px
  width 18px
.fx-checkbox input
  position absolute
  opacity 0
  cursor pointer
.checkmark
  position absolute
  top 0
  left 0
  height 18px
  width 18px
  background-color #fff
  border 1px solid #bfcbd9
  border-radius 4px
.fx-checkbox:hover input ~ .checkmark
  background-color #77b8ed
  border 1px solid #2196F3
  opacity 0.5
.fx-checkbox input:checked ~ .checkmark
  background-color #2196F3
.checkmark:after
  content ""
  position absolute
  display none
.fx-checkbox input:checked ~ .checkmark:after
  display block
.fx-checkbox .checkmark:after
  left 7px
  top 3px
  width 3px
  height 7px
  border solid #fff
  border-width 0 2px 2px 0
  transform rotate(45deg)
/* checkbox end */

