@media only screen and (max-width : 1650px)
  .row-assign
    width 100%
  .col-assign-1, .col-assign-2
    width 25%

@media only screen and (max-width : 1600px)
  .col-assign-1
    width auto
    margin-right 25px
  .col-assign-2
    width 25%

.cursorpointer
  cursor pointer

.introjs-tooltiptext
  font-size 12px
  line-height 15px

body
  min-width 1300px

#nprogress .bar
  background #33ba3a !important
  height 5px !important

#nprogress .spinner
  display none !important

.r
  float right

.m
  margin-right 10px

span.el-checkbox-button__inner
  border-left 1px solid #bfcbd9
  border-radius 0
  white-space inherit !important

button.easy-button-button
  background white
  font-size 1.2em
  padding 8px

::-webkit-scrollbar
  width 8px
  height 8px
  background-color #D3DCE6
::-webkit-scrollbar-button
::-webkit-scrollbar-track
  display none
::-webkit-scrollbar-thumb
  background-color #99A9BF
::-webkit-scrollbar-thumb:hover
  background-color #475669

.el-table-cont
  position relative
.el-table-author
  position absolute
  top 20px
  left 20px
  padding 9px
  border-radius 4px
  display none
  background #eef1f6
  border 1px solid #dfe6ec
  color #000
  font-size 13px
  z-index 3
  &.js-active
    display block

button.easy-button-button
  border none
  font-size 1.15em
  padding 7.5px 8.1px
  & .el-icon-check
    font-size 0.7445em

.animated-icon
  width 1px
  height 1px
  background-color rgba(255,0,0,0.9)
  border-radius 50%
  box-shadow 0px 0px 2px red
  transition all 1s


.easy-button-button.disabled
  display none

.button-help
  position absolute
  top 1px
  left 3px
  padding 2px 2px
  z-index 4

.btn-help
  padding 10px 7px

.panel-bottom
  position absolute
  bottom 0
  left 0
  width 100%
  height 230px
  box-sizing border-box
  padding 0px
  border 1px groove #cfcfcf
  border-bottom none
  background #fff
  overflow auto
  z-index 1001

.tooltip-transparent
  background-color rgba(0,0,0,0)!important
  border none!important
  box-shadow none!important
  font-size 10px

.introjs-helperNumberLayer
  top 1px!important
  left 1px!important
  margin 0!important
  opacity 0.7!important

.clouds
  display flex

.cloud
  float left
  width calc(50% - 20px)
  padding 10px 15px
  margin 10px
  box-shadow 0 0 10px rgba(0,0,0,0.5)
  background #fff
  box-sizing border-box
  .cloud-row
    float left
    width 100%
    margin 5px 0
    font-weight 100
    font-size 12px
    span
      float right
  .cloud-column
    float left
    width 100%
  &.horizontal
    width 100%
    height auto
    padding 10px 5px
    box-shadow none
    margin 0
    .cloud-column
      width calc(33.33% - 20px)
      padding 10px 15px
      margin 10px
      box-shadow 0 0 10px rgba(0,0,0,0.5)
      background #fff
      box-sizing border-box

.cloud-graph
  float left
  width calc(50% - 20px)
  padding 5px 15px
  margin 10px
  box-shadow 0 0 10px rgba(0,0,0,0.5)
  background #fff
  box-sizing border-box

.map-filter-culture, .map-filter-work
  position absolute
  top 10px
  left calc(50% - 380px)
  width auto
  z-index 3

.map-date
  position absolute
  top 10px
  left calc(50% - 160px)
  width auto
  z-index 3

.traktor-panel
  position absolute
  top 10px
  left calc(50% + 35px)
  width auto
  z-index 3
  .el-button
    margin 0
    font-size 12px
    padding 11px 9px!important
    border 1px solid #d3dce6
  .el-slider
    display inline-block
    width 80px
    margin 0 15px
    height 22px
  .el-slider__runway
    background-color #323232

.map-culture-filter
  position absolute
  top 10px
  left calc(50% - 372px)
  width 100%
  z-index 401

.workspace-notepad
  position relative

.viewer-button
  background-color #20a0ff !important

[leaflet-browser-print-pages] {
  display: none;
}
.pages-print-container [leaflet-browser-print-pages] {
  display: block;
}
.grid-print-container {
  grid-template: auto 1fr / 1fr !important;
  background-color: orange;
}
.grid-map-print {
  grid-row: 2 !important;
}

.invisible-color > label {
  color: transparent;
}

.el-button [class*=el-icon-plus]+span {
  margin-left: 0;
}

.color-legend
  display inline-block
  height 5px
  width 40px

.j-container
  float left
  width 100%
  padding 0 10px 30px
.j-row
  float left
  width 100%
  margin 9px 0
  span
    float left
    margin 0
    font-size 15px
    color #000
  p
    float: left
    margin 0 5px
    font-size 15px
    color #000

.el-table .selected-row
  background-color rgba(0, 0, 255, 0.1)

.lambda-icon
  padding 0 3px

.iota-icon
  padding 0 5px

.close-icon
  padding 0 1px

.panel-legend
  position absolute
  padding 10px 15px
  bottom 30px
  left 12px
  height 250px
  width 250px
  box-sizing border-box
  border-radius 5px 0 0 5px
  border 1px solid #323232
  background #fff
  overflow auto
  z-index 401
  &-row
    width 100%
    margin 5px 0
    p
      font-size 13px
      margin 0
      width 100%
    .color-legend
      display inline-block
      height 7px
      width 100px

.track-image
  img
    float left
    max-height 30%
    max-width 30%
  .el-table
    float left
    margin-top 200px
    width 70%


.map-xls-cols
  position fixed
  bottom 0
  right 0
  height 26px
  width auto
  z-index 11
  .excel
    float left
    display block
    content: ""
    background-image url( '../assets/excel.svg' )
    background-repeat no-repeat
    background-size 17px auto!important
    background-position center center
    height 25px
    width 25px!important
    padding 0
  .fx-check
    float left
    display block
    margin 2px 5px 0 10px
    .el-checkbox__input
      margin-top 2px
    .el-checkbox__label
      font-size 12px

.container-upload
  padding 15px
  width 400px

  h3
    font-size 15px
    margin 0 0 25px

.file-upload
  width 100%
  height 68px
  position relative

#upload, #upload-axo
  opacity 0
  width 100%
  height 100%
  position absolute
  top 0px
  left 0px
  cursor pointer
  z-index 5

.file-name
  border 2px dashed #ccc
  width 100%
  height 68px
  box-sizing border-box
  position absolute
  top 0px
  left 0px
  overflow hidden
  z-index 1

  p
    width 100%
    margin 5px 0px
    height 24px
    line-height 24px
    font-size 14px
    text-align center

.sample-buttons
  margin-top 20px

.fade-enter, .fade-leave, .fade-leave-active, .fade-leave-to
  opacity 0
.fade-enter-active
  transition opacity .5s

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(-15px);
  opacity: 0.3;
}
